<template name="addCourseMaterial">
  <div class="content-block-title">Add Material</div>
  <div class="list-block">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              <input type="text" placeholder="Name">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              <input type="text" placeholder="Description">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              <input type="date" placeholder="Birth day" value="2014-04-30">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>