<template name="addCourseMaterial">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				{{#if currentUser}}
					{{#if isInRole 'teacher'}}
						<a href="{{pathFor 'courses.show' _id=course._id}}"><i class="icon icon-back"></i></a>
					{{/if}}
				{{/if}}
			</div>
			<div class="center">{{course.name}}</div>
			<div class="right"><a href="#" class="save-material">Save</a></div>
		</div>
	</div>
	<div class="page-content">
		<div class="content-block-title">Add Material</div>
		<form id="materialForm" class="list-block">
			<ul>
				<li>
					<div class="item-content">
						<div class="item-title label">Name</div>
						<div class="item-inner">
							<div class="item-input">
								<input type="text" name="materialName">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
            <div class="item-title label">Description</div>
						<div class="item-inner">
							<div class="item-input">
								<input type="text" name="materialDescription">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
            <div class="item-title label">Privacy</div>
						<div class="item-inner">
							<div class="item-input">
                <select name="privacy">
                  <option value="private">Private</option>
                  <option value="public" selected>Public</option>
                </select>
							</div>
						</div>
					</div>
				</li>
        <li>
          <div class="item-content">
            <div class="item-title label">Category</div>
            <div class="item-inner">
              <div class="item-input">
                <select name="category">
                  <option value="homework" selected>Homework</option>
                  <option value="annotation">Annotation</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media">
              <i class="icon fa fa-paperclip fa-lg"></i>
            </div>
            <div class="item-inner">
              <div class="item-input">
              {{#if isReadyToShowFiles}}
                {{#each file in attachedFiles}}
                  <div class="chip">
                    <div class="chip-label">{{file.name}}</div>
                    <a href="#" class="chip-delete" name="{{file.name}}"></a>
                  </div>
                {{/each}}
              {{/if}}
              </div>
            </div>
          </div>
        </li>
			</ul>
		</form>
		<div class="upload-form" id="uploadFile">
		{{#unless hasUploads}}
      <div class="sm-row">
        <input class="invisible" id="userAttachment" type="file" name="userAttachment" required="" multiple="">
        <div class="upload-icon" id="uploadIcon"><i class="fa fa-cloud-upload"></i>
          <h2>Add Attachment(s)</h2>
        </div>
      </div>
		{{else}}
      <h1 id="percentage">Uploading files: {{status.progress}}%</h1>
		{{/unless}}
		</div>
	</div>
</template>