<template name="courseModal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#new_course_modal"></a>
    <h1 class="title">Add New Course</h1>
  </header>
  <div class="content new_course_content">
    <form>
      <input type="text" name="new_course_name" placeholder="Enter Course Name">
      <textarea name="new_course_description" placeholder="Enter Course Description" rows="5"></textarea>
      <button type="submit" class="btn btn-positive btn-block">Save</button>
      <button type="reset" class="btn btn-block btn-outlined close-add-owned-course">Cancel</button>
    </form>
  </div>
</template>