<template name="newCourseModal">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a class="close-popup"><i class="icon fa fa-angle-left fa-2x"></i></a></div>
      <div class="center">{{_ 'newCourseModal.addNewCourse'}}</div>
      <div class="right"><a class="close-popup save-course">{{_ 'newCourseModal.save'}}</a></div>
    </div>
  </div>
  <div class="page-content" style="background-color: #eaf1fc;">
    <div class="content-block-title">Course Info</div>
    <form id="new_course_form" class="list-block new_course_content inset">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon fa fa-book"></i></div>
              <div class="item-inner">
                <div class="item-title label">{{_ 'newCourseModal.courseName'}}</div>
                <div class="item-input">
                  <input type="text" name="name">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon fa fa-calendar-check-o"></i></div>
              <div class="item-inner">
                <div class="item-title label">{{_ 'newCourseModal.startDate'}}</div>
                <div class="item-input">
                  <input type="text" name="startAt" readonly id="course-start-date">
                </div>
              </div>
            </div>
          </li>
	        <li>
		        <div class="item-content">
			        <div class="item-media"><i class="icon fa fa-calendar-check-o"></i></div>
			        <div class="item-inner">
				        <div class="item-title label">{{_ 'newCourseModal.endDate'}}</div>
				        <div class="item-input">
					        <input type="text" name="endAt" readonly id="course-end-date">
				        </div>
			        </div>
		        </div>
	        </li>
	        <li>
		        <div class="item-content">
			        <div class="item-media"><i class="icon fa fa-cogs"></i></div>
			        <div class="item-inner">
				        <div class="item-title label">{{_ 'newCourseModal.type'}}</div>
				        <div class="item-input">
					        <select name="coursetype">
						        {{#each type in allCourseTypes}}
						          <option value="{{type._id}}">{{type.name}}</option>
						        {{/each}}
					        </select>
				        </div>
			        </div>
		        </div>
	        </li>
          <li class="align-top">
            <div class="item-content">
              <div class="item-media"><i class="icon fa fa-file-text-o"></i></div>
              <div class="item-inner">
                <div class="item-title label">{{_ 'newCourseModal.description'}}</div>
                <div class="item-input">
                  <textarea name="description"></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </form>
  </div>
</template>