<template name="newCourseModal">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a class="close-popup"><i class="icon fa fa-angle-left fa-2x"></i></a></div>
      <div class="center">Add New Course</div>
      <div class="right"><a class="close-popup save-course">Save</a></div>
    </div>
  </div>
  <div class="page-content" style="background-color: #d3dbe8;">
    <div class="content-block-title">Course Info</div>
    <form id="new_course_form" class="list-block new_course_content inset">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon fa fa-book"></i></div>
              <div class="item-inner">
                <div class="item-title label">Name</div>
                <div class="item-input">
                  <input type="text" name="name" placeholder="Course Name">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon fa fa-calendar-check-o"></i></div>
              <div class="item-inner">
                <div class="item-title label">Start Date</div>
                <div class="item-input">
                  <input type="text" name="startAt" placeholder="Course Start Date" readonly id="course-start-date">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon fa fa-calendar-check-o"></i></div>
              <div class="item-inner">
                <div class="item-title label">End Date</div>
                <div class="item-input">
                  <input type="text" name="endAt" placeholder="Course End Date" readonly id="course-end-date">
                </div>
              </div>
            </div>
          </li>
          <li class="align-top">
            <div class="item-content">
              <div class="item-media"><i class="icon fa fa-file-text-o"></i></div>
              <div class="item-inner">
                <div class="item-title label">Description</div>
                <div class="item-input">
                  <textarea name="description"></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </form>
  </div>
</template>